<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/styles/style.css" rel="stylesheet" />
  </head>

  <body>
    <spline-viewer
      class="spine"
      url="https://prod.spline.design/Ze5qARzA01pOL5RB/scene.splinecode"
    ></spline-viewer>

    <div class="content">
      <div class="navbar">
        <div class="rightbar">
          <span class="cursor" style="opacity: 0.5">SAI KRUPA DEVOLEPERS</span>
        </div>
        <div class="leftbar">
          <div class="nav-left">HOME</div>
          <div class="nav-left">AMENITIES</div>
          <div class="nav-left contactanchor">CONTACT US</div>
        </div>
      </div>
      <br />
      <marquee id="marquee" scrollamount="4">
        <span>CURRENT PROJECTS:</span>
        <span
          ><span class="names">SAI KARUNYA VILLA</span>(Opp Gas Goodown,Balaji
          Nagar,Nellore-2), &nbsp;</span
        >
        <span
          ><span class="names">SAI KRUPA HOMES</span>(Near Nellore
          Hospital,Nellore-2)</span
        >
      </marquee>

      <div class="ourprojects">
        <h1>OUR PROJECTS</h1>
      </div>
    </div>


    <div class="projects">
      <div class="appartment"><a href="/saidevihomes">SAI DEVI HOMES</a> </div>
      <div class="appartment">SAI KRUPA HOMES</div>
      <div class="appartment">SAI KRUPA ENCLAVE</div>
      <div class="appartment">SHR GARDENS</div>
      <div class="appartment">SAI KARUNYA VILLA</div>
      <span class="intomark">X</span>

    </div>

    <div class="contact-us">
      <div class="phone">
        <h1><span class="cursor"> Contact Us:</span></h1>
        <a href="tel:+919666544551"> +91 9666544551 </a>
        <br />
        <br />
        <a href="tel:+916302760006"> +91 6302760006 </a>
      </div>
      <div class="phone">
        <h1><span class="cursor">Gmail:</span></h1>
        <a href="mailto:saikrupadev@gmail.com">saikrupadev@gmail.com</a>
      </div>
      <div id="wrong">X</div>
    </div>
  </body>
  <script src="/js/home.js"></script>
  <script
    type="module"
    src="https://unpkg.com/@splinetool/viewer@1.9.82/build/spline-viewer.js"
  ></script>
</html>
