<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles/saidevi.css" rel="stylesheet">

</head>
<body>
    <div class="content">
        <div class="header">
            <h1>Building name</h1>
            <h3>Luxury Living Redefined</h3>
            <button>EXPLORE MORE</button>
        </div>
        <div class="pics">
            <h1>Building photos</h1>
            <div class="imgs">
                <img class="img" src="/images/logo.png">
                <img class="img" src="/images/karunyavilla.jpg">
            </div>
        </div>
        <div class="overview">
            <h1>property overview</h1>
            <div class="propover">
                <div class="prop">
                    <h3>Location</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat recusandae animi error maxime rerum temporibus omnis maiores sunt blanditiis voluptatum nihil exercitationem, soluta fugit quae saepe nostrum deleniti. Aspernatur, veritatis.
                    Vero, aperiam. Ad itaque illo deserunt possimus blanditiis? Ipsa dignissimos delectus molestias doloremque fuga pariatur assumenda distinctio animi possimus error at, quia esse nulla quod, atque ex officia fugiat magnam.</p>
                </div>
                <div class="prop">
                    <h3>Project details</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dignissimos voluptate veniam voluptas dolorum at fugit exercitationem ratione cum doloremque. Eaque similique quod consequatur quia alias, praesentium consequuntur nam amet.
                    Voluptas vel ipsum ea illum amet repellendus rem molestias sed veritatis repudiandae, nulla nisi rerum eveniet nobis eius minus ex! Obcaecati, nisi quasi. Cupiditate accusamus magnam doloribus voluptatibus consequatur dolor.
                    Reprehenderit doloribus dignissimos odio. Impedit laboriosam maxime recusandae nesciunt dignissimos eligendi asperiores sed ad dolor? Amet nihil, aperiam eaque iure vitae itaque nulla, numquam blanditiis quia corrupti unde vel voluptatum!
                    Vitae optio amet ex! Reprehenderit harum veniam, recusandae blanditiis dicta debitis accusamus inventore velit assumenda commodi laborum fugit. Culpa, ad id explicabo reiciendis eius adipisci vero voluptate pariatur eum molestiae.
                    Beatae voluptates quisquam ducimus, facere ipsam maxime cupiditate libero nemo cumque in hic quibusdam velit, dolorum ullam deleniti fugit. Accusantium explicabo itaque nam sequi culpa numquam magnam repellendus maxime illo!
                    Vitae totam est ut soluta ab labore expedita maxime? Molestiae dolorum soluta ducimus dicta perspiciatis necessitatibus perferendis corporis non, architecto velit, sunt repellendus quam incidunt vitae ut nisi repudiandae et?
                    Nesciunt similique, vel nisi id odit quisquam quis reprehenderit ipsa eaque blanditiis ad nihil pariatur doloribus fugiat! Esse dolor cum ducimus libero velit facere porro, quae cupiditate eum, possimus nulla.
                    Architecto, molestiae dolores error harum animi, esse nulla ullam nesciunt magnam hic maiores ipsum laudantium, eos adipisci necessitatibus quae laboriosam aspernatur earum totam sint voluptas saepe nisi! Explicabo, rem est.
                    Fugit cum accusantium neque totam error sint qui eligendi mollitia voluptatem repellat placeat, numquam ullam quia magni aperiam rem quibusdam dolorum alias cumque provident fugiat nulla! Quam molestias quia recusandae.</p>
                </div>
                <div class="prop">
                    <h3>unit details</h3>
                    <p>2BHK(2 per floor) | 3BHK (1 per floor)</p>
                </div>
                <div class="prop">
                    <h3>total units</h3>
                    <p>16 in total</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>